@import "src/styles/variables/colors";
@import "src/styles/variables/global";

.EtmInput {
    width: 100%;
    padding: 4px 16px;
    margin: 4px 0;
    background-color: transparent;

    input {
        width: 100%;
    }
}

.BorderBottom {
    width: 100%;
    border-bottom: 1px solid $primary;
    border-radius: 3px;
    transition: all 100ms ease-in-out;
}

.EtmInput:has(input:focus) .BorderBottom {
    transform: scaleY(2.5) scaleX(1.02) translateY(1px);
    border-bottom-color: $accent;
}