@import "src/styles/variables/colors";
@import "src/styles/variables/global";

.EtmInput {
    width: 100%;
    padding: 4px 16px;
    margin: 4px 0;
    background-color: transparent;
    border-radius: 3px;
    border-bottom: 1px solid $accent;
}

.EtmInput:has(input:focus) {
    border-bottom: 2px solid $accent;
}