@import "src/styles/variables/colors";
@import "src/styles/variables/global";
@import "src/styles/mixins";

.EtmButton {
  padding: 4px 16px;
  background-color: $primary-light;
  border: $border-default;
  border-radius: 5px;
  @include raisable;

  &:hover {
    background-color: $primary;
  }
}