@import "../../../styles/variables/global";
@import "../../../styles/variables/colors";

.AuthForm {
  position: relative;
  display: flex;
  width: 400px;
  padding: 16px;
  align-items: center;
  flex-direction: column;
  border: $border-accent;
  border-radius: $border-radius-default;
  background-color: white;
  overflow: hidden;
}

.Password {
  display: flex;
  width: 100%;
  align-items: center;
}

.Buttons {
  display: flex;
  width: 300px;
  margin-top: 16px;
  justify-content: center;
}

button + button {
  margin-left: 32px;
}