@import "src/styles/variables/colors";
@import "src/styles/mixins";

.Contacts {
    display: flex;
}

.ContactItem {
    color: $accent;
    text-decoration: none;
    padding: 4px;
    @include raisable();
}