@import "../../../../../styles/variables/colors";

.Task {
    background-color: $primary;
    overflow: hidden;
}

.Task:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.Task:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Task:hover {
    transition: ease-in-out 150ms;
    background: $primary-light;
}

.TaskTitle {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TaskDescription {
    display: -webkit-box;
    background: white;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Task:last-child .TaskDescription {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.Link {
    text-decoration: none;
    color: $accent;
    transform: translateX(40px);
    transition: transform ease-out 200ms;
}

.Task:hover .Link {
    transform: translateX(0);
    transition: transform ease-out 200ms;
}

.Chevron {
    color: $accent;
    margin-right: 8px;
    cursor: pointer;
    transition: ease-in 0.1s;
}

.ChevronUnfolded {
    transform: rotate(90deg);
    transition: ease-in 0.1s;
}