@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #f8f8f8;
  font-family: 'Roboto Condensed', sans-serif;
  color: #282828;
}

::selection {
  background-color: #c7c7c7;
}

h1, h2, h3 {
  font-weight: lighter;
}

.App {
  width: 100%;
}