@import "src/styles/variables/colors";

$font-size-default: 14px;

$border-accent: $accent dashed 3px;
$border-default: $accent solid 1px;
$border-default-hover: $accent solid 2px;
$border-radius-small: 8px;
$border-radius-default: 16px;