.TaskList {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin: 16px 0;
}

.Title {
    text-align: center;
}

.ListOutline {
    border: #77acd0 dashed 3px;
    border-radius: 16px;
}