@import "src/styles/variables/colors";
@import "src/styles/variables/global";

.TaskList {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin: 16px 0;
}

.Title {
    text-align: center;
}

.ListOutline {
    border: $border-accent;
    border-radius: $border-radius-default;
}